
#mainpage {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
    text-align: center;
    color: #fff;
    background-image: url("../image/img.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-position: center;
    background-size: cover;
}
#mainpage2{
    padding-top: 18rem;
    padding-bottom: 20rem;
    text-align: center;
    color: #fff;
    background-image: url("../image/img.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-position: center;
    background-size: cover;
}
header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    /*margin-bottom: 25px;*/
    margin-bottom: 2px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
